/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

textarea {
    resize: vertical;
}

a {
    text-decoration: none;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html, body {
    margin:0;
    height: 100%;
}

body {
    font-family: "Calibri Light", "Calibri", "Helvetica", "Arial"
    font-size: 20px;
}

.header {
    background: url('../img/header.png');
    background-size: 100% 200px;
    height: 200px;
    font-size: 20px;
}

.header .title {
    color: #fff;
    transform:rotate(-4deg);
    display: inline-block;
    margin:10px;
    text-transform: uppercase;
}

.header .public-link {
    color:#fff;
    float:right;
    transform:rotate(5deg);
    margin:30px;
    font-size: 30px;
}

main {
    max-width: 500px;
    margin: 20px auto;
}

.progress {
    text-align:center;
    padding: 0;
    margin-bottom: 50px;
}
.progress li {
    display: inline-block;
    text-align: center;
    padding: 5px;
    width: 40px;
    height: 40px;
    margin-right:5px;
}

.progress li.archive {
    background: #CCEFE8;
}
.progress li.active {
    background: #A1EADB;
}

.question {
    font-size: 35px;
    text-transform: uppercase;
}
.answers {
    padding: 0;
}
.answers li {
    list-style-type: none;
    padding:0;
}
.answers li a {
    display: block;
    padding:5px;
    margin: 10px;
    list-style-type: none;
    font-size: 25px;
    text-decoration: none;
    color:#000;
    text-transform: uppercase;
}

.answers li:hover {
   background: #CCEFE8;
}



.result {
    display: none;
    font-size: 20px;
    margin: 0 auto;
    margin-top:100px;
    height:50%;
    max-width: 700px;
    text-transform: uppercase;
}

.special {
    display: none;
    font-size: 30px;
    margin: 0 auto;
    margin-top:100px;
    height:50%;
    max-width: 700px;
    text-transform: uppercase;
}

.result-title {
    display: inline-block;
    background:  #CCEFE8;
    padding: 10px;
}

.footer {
    background: url('../img/footer.png');
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    text-align: right;
    padding: 120px 100px 50px 0;
    font-size: 20px;
    color:#fff;
    position: absolute;
    bottom: 0;
}
.footer a {
    color: #fff;
    text-decoration: none;
}

.face {
    width:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}
